reference/tibco_projects/Tibco2MuleAcceleratorv2/Resources/Schema/Tibco/Conversion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Conversion.xsd"
	 targetNamespace="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Conversion.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ConversionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="conversion" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tibcoType" type="xs:string" minOccurs="0"/>
							<xs:element name="muleType" type="xs:string" minOccurs="0"/>
							<xs:element name="conversionImpl" type="xs:string" minOccurs="0"/>
							<xs:element name="issueType" type="xs:string" minOccurs="0"/>
							<xs:element name="remarks" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ActivityType" minOccurs="0"/>
				<xs:element ref="TibcoName" minOccurs="0"/>
				<xs:element ref="Tibco" minOccurs="0"/>
				<xs:element ref="Mule" minOccurs="0"/>
				<xs:element ref="Implementation" minOccurs="0"/>
				<xs:element name="Type" type="xs:string" minOccurs="0"/>
				<xs:element ref="Remarks" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActivityType" type="xs:string"/>
	<xs:element name="TibcoName" type="xs:string"/>
	<xs:element name="Tibco" type="xs:string"/>
	<xs:element name="Mule" type="xs:string"/>
	<xs:element name="Implementation" type="xs:string"/>
	<xs:element name="Remarks" type="xs:string"/>
</xs:schema>