reference/tibco_projects/Tibco2MuleAcceleratorv2/Resources/Schema/Tibco/GVInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Tibco/GVInfo.xsd"
	 targetNamespace="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Tibco/GVInfo.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GVInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" minOccurs="0"/>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="deploymentSettable" minOccurs="0"/>
				<xs:element ref="serviceSettable" minOccurs="0"/>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="modTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="deploymentSettable" type="xs:string"/>
	<xs:element name="serviceSettable" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="modTime" type="xs:string"/>
</xs:schema>