reference/tibco_projects/Tibco2MuleAcceleratorv2/Resources/Schema/Tibco/Report.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Tibco/Report.xsd"
	 targetNamespace="http://ibm.com/raks/tibco2mule/accelerator/Resources/Schema/Tibco/Report.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RepositoryDetails" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RepositoryDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TibcoProject" minOccurs="0"/>
				<xs:element ref="MuleProject" minOccurs="0"/>
				<xs:element ref="MigrationStatus" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="StartTime" minOccurs="0"/>
				<xs:element ref="EndTime" minOccurs="0"/>
				<xs:element ref="TotalTIme" minOccurs="0"/>
				<xs:element ref="Archives" minOccurs="0"/>
				<xs:element ref="Processes" minOccurs="0"/>
				<xs:element ref="SubProcesses" minOccurs="0"/>
				<xs:element ref="Starters" minOccurs="0"/>
				<xs:element ref="OnStartup" minOccurs="0"/>
				<xs:element ref="ServiceAgent" minOccurs="0"/>
				<xs:element ref="ServiceAgentOperations" minOccurs="0"/>
				<xs:element ref="HTTPStarter" minOccurs="0"/>
				<xs:element ref="RVStarters" minOccurs="0"/>
				<xs:element ref="SOAPStarter" minOccurs="0"/>
				<xs:element ref="RestStarter" minOccurs="0"/>
				<xs:element ref="FileStarter" minOccurs="0"/>
				<xs:element ref="JMSQStarter" minOccurs="0"/>
				<xs:element ref="JMSTStarter" minOccurs="0"/>
				<xs:element ref="TimerStarter" minOccurs="0"/>
				<xs:element ref="AEStarter" minOccurs="0"/>
				<xs:element ref="JDBCQuery" minOccurs="0"/>
				<xs:element ref="JDBCUpdate" minOccurs="0"/>
				<xs:element ref="SOAPCalls" minOccurs="0"/>
				<xs:element ref="HTTPCalls" minOccurs="0"/>
				<xs:element ref="RESTCalls" minOccurs="0"/>
				<xs:element ref="JMSCalls" minOccurs="0"/>
				<xs:element ref="JMSQueueSend" minOccurs="0"/>
				<xs:element ref="JMSQueueGetMessage" minOccurs="0"/>
				<xs:element ref="JMSQueueRquestReply" minOccurs="0"/>
				<xs:element ref="JMSTopicPublish" minOccurs="0"/>
				<xs:element ref="JMSTopicRequestReply" minOccurs="0"/>
				<xs:element ref="JMSReply" minOccurs="0"/>
				<xs:element ref="JMSQueueSignal" minOccurs="0"/>
				<xs:element ref="JMSTopicSignal" minOccurs="0"/>
				<xs:element ref="FileWrite" minOccurs="0"/>
				<xs:element ref="FileCreate" minOccurs="0"/>
				<xs:element ref="FileRemove" minOccurs="0"/>
				<xs:element ref="FileRead" minOccurs="0"/>
				<xs:element ref="FileCopy" minOccurs="0"/>
				<xs:element ref="JavaActivities" minOccurs="0"/>
				<xs:element ref="Mappers" minOccurs="0"/>
				<xs:element ref="Renders" minOccurs="0"/>
				<xs:element ref="Parsers" minOccurs="0"/>
				<xs:element ref="WSDLs" minOccurs="0"/>
				<xs:element ref="WADLs" minOccurs="0"/>
				<xs:element ref="XSDs" minOccurs="0"/>
				<xs:element ref="CopyBooks" minOccurs="0"/>
				<xs:element ref="SharedVars" minOccurs="0"/>
				<xs:element ref="Connections" minOccurs="0"/>
				<xs:element ref="Certificates" minOccurs="0"/>
				<xs:element ref="AEActivities" minOccurs="0"/>
				<xs:element ref="Assign" minOccurs="0"/>
				<xs:element ref="Checkpoint" minOccurs="0"/>
				<xs:element ref="Catch" minOccurs="0"/>
				<xs:element ref="GenerateError" minOccurs="0"/>
				<xs:element ref="Confirm" minOccurs="0"/>
				<xs:element ref="ReceiveMail" minOccurs="0"/>
				<xs:element ref="SendMail" minOccurs="0"/>
				<xs:element ref="Custom" minOccurs="0"/>
				<xs:element ref="LockObject" minOccurs="0"/>
				<xs:element ref="NotifyConfiguration" minOccurs="0"/>
				<xs:element ref="EngineCommand" minOccurs="0"/>
				<xs:element ref="ExternalCommand" minOccurs="0"/>
				<xs:element ref="Notify" minOccurs="0"/>
				<xs:element ref="OnError" minOccurs="0"/>
				<xs:element ref="OnEventTimeout" minOccurs="0"/>
				<xs:element ref="OnNotificationTimeout" minOccurs="0"/>
				<xs:element ref="OnShutdown" minOccurs="0"/>
				<xs:element ref="ReceiveNotification" minOccurs="0"/>
				<xs:element ref="Rethrow" minOccurs="0"/>
				<xs:element ref="Sleep" minOccurs="0"/>
				<xs:element ref="Wait" minOccurs="0"/>
				<xs:element ref="WriteToLog" minOccurs="0"/>
				<xs:element ref="FilePoller" minOccurs="0"/>
				<xs:element ref="ListFiles" minOccurs="0"/>
				<xs:element ref="RenameFile" minOccurs="0"/>
				<xs:element ref="WaitforFileChange" minOccurs="0"/>
				<xs:element ref="HTTPReceiver" minOccurs="0"/>
				<xs:element ref="SendHTTPRequest" minOccurs="0"/>
				<xs:element ref="WaitForHTTPRequest" minOccurs="0"/>
				<xs:element ref="JavaCustomFunction" minOccurs="0"/>
				<xs:element ref="JavaGlobalInstance" minOccurs="0"/>
				<xs:element ref="JavaSchema" minOccurs="0"/>
				<xs:element ref="JavaCode" minOccurs="0"/>
				<xs:element ref="JavaEventSource" minOccurs="0"/>
				<xs:element ref="JavaMethod" minOccurs="0"/>
				<xs:element ref="JavaToXML" minOccurs="0"/>
				<xs:element ref="XMLToJava" minOccurs="0"/>
				<xs:element ref="JDBCConnection" minOccurs="0"/>
				<xs:element ref="JDBCCallProcedure" minOccurs="0"/>
				<xs:element ref="SQLDirect" minOccurs="0"/>
				<xs:element ref="JMSApplicationProperties" minOccurs="0"/>
				<xs:element ref="JMSConnection" minOccurs="0"/>
				<xs:element ref="GetJMSQueueMessage" minOccurs="0"/>
				<xs:element ref="JMSQueueReceiver" minOccurs="0"/>
				<xs:element ref="JMSQueueRequester" minOccurs="0"/>
				<xs:element ref="JMSTopicRequestor" minOccurs="0"/>
				<xs:element ref="JMSTopicSubscriber" minOccurs="0"/>
				<xs:element ref="ReplytoJMSMessage" minOccurs="0"/>
				<xs:element ref="WaitforJMSQueueMessage" minOccurs="0"/>
				<xs:element ref="WaitforJMSTopicMessage" minOccurs="0"/>
				<xs:element ref="DataFormat" minOccurs="0"/>
				<xs:element ref="ParseData" minOccurs="0"/>
				<xs:element ref="RenderData" minOccurs="0"/>
				<xs:element ref="SecurityPolicyAssociation" minOccurs="0"/>
				<xs:element ref="SecurityPolicy" minOccurs="0"/>
				<xs:element ref="InvokeRESTAPI" minOccurs="0"/>
				<xs:element ref="RESTDispatchandReply" minOccurs="0"/>
				<xs:element ref="XSLTFile" minOccurs="0"/>
				<xs:element ref="TransformXML" minOccurs="0"/>
				<xs:element ref="SOAPEventSource" minOccurs="0"/>
				<xs:element ref="SOAPRequestReply" minOccurs="0"/>
				<xs:element ref="SOAPSendReply" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TibcoProject" type="xs:string"/>
	<xs:element name="MuleProject" type="xs:string"/>
	<xs:element name="MigrationStatus" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="StartTime" type="xs:dateTime"/>
	<xs:element name="EndTime" type="xs:dateTime"/>
	<xs:element name="TotalTIme" type="xs:string"/>
	<xs:element name="Archives" type="xs:string"/>
	<xs:element name="Processes" type="xs:string"/>
	<xs:element name="SubProcesses" type="xs:string"/>
	<xs:element name="Starters" type="xs:string"/>
	<xs:element name="ServiceAgent" type="xs:string"/>
	<xs:element name="HTTPStarter" type="xs:string"/>
	<xs:element name="SOAPStarter" type="xs:string"/>
	<xs:element name="RestStarter" type="xs:string"/>
	<xs:element name="FileStarter" type="xs:string"/>
	<xs:element name="JMSQStarter" type="xs:string"/>
	<xs:element name="JMSTStarter" type="xs:string"/>
	<xs:element name="TimerStarter" type="xs:string"/>
	<xs:element name="JDBCQuery" type="xs:string"/>
	<xs:element name="JDBCUpdate" type="xs:string"/>
	<xs:element name="SOAPCalls" type="xs:string"/>
	<xs:element name="HTTPCalls" type="xs:string"/>
	<xs:element name="RESTCalls" type="xs:string"/>
	<xs:element name="JMSCalls" type="xs:string"/>
	<xs:element name="JavaActivities" type="xs:string"/>
	<xs:element name="Mappers" type="xs:string"/>
	<xs:element name="Parsers" type="xs:string"/>
	<xs:element name="WSDLs" type="xs:string"/>
	<xs:element name="WADLs" type="xs:string"/>
	<xs:element name="XSDs" type="xs:string"/>
	<xs:element name="CopyBooks" type="xs:string"/>
	<xs:element name="SharedVars" type="xs:string"/>
	<xs:element name="Connections" type="xs:string"/>
	<xs:element name="Certificates" type="xs:string"/>
	<xs:element name="FileWrite" type="xs:string"/>
	<xs:element name="FileCreate" type="xs:string"/>
	<xs:element name="FileRemove" type="xs:string"/>
	<xs:element name="FileRead" type="xs:string"/>
	<xs:element name="FileCopy" type="xs:string"/>
	<xs:element name="JMSQueueSend" type="xs:string"/>
	<xs:element name="JMSQueueGetMessage" type="xs:string"/>
	<xs:element name="JMSQueueRquestReply" type="xs:string"/>
	<xs:element name="JMSTopicPublish" type="xs:string"/>
	<xs:element name="JMSTopicRequestReply" type="xs:string"/>
	<xs:element name="JMSReply" type="xs:string"/>
	<xs:element name="JMSQueueSignal" type="xs:string"/>
	<xs:element name="JMSTopicSignal" type="xs:string"/>
	<xs:element name="RVStarters" type="xs:string"/>
	<xs:element name="AEStarter" type="xs:string"/>
	<xs:element name="AEActivities" type="xs:string"/>
	<xs:element name="OnStartup" type="xs:string"/>
	<xs:element name="ServiceAgentOperations" type="xs:string"/>
	<xs:element name="Assign" type="xs:string"/>
	<xs:element name="Checkpoint" type="xs:string"/>
	<xs:element name="Catch" type="xs:string"/>
	<xs:element name="GenerateError" type="xs:string"/>
	<xs:element name="Confirm" type="xs:string"/>
	<xs:element name="GeneralActivities" type="xs:string"/>
	<xs:element name="ReceiveMail" type="xs:string"/>
	<xs:element name="SendMail" type="xs:string"/>
	<xs:element name="Custom" type="xs:string"/>
	<xs:element name="LockObject" type="xs:string"/>
	<xs:element name="NotifyConfiguration" type="xs:string"/>
	<xs:element name="EngineCommand" type="xs:string"/>
	<xs:element name="ExternalCommand" type="xs:string"/>
	<xs:element name="Notify" type="xs:string"/>
	<xs:element name="OnError" type="xs:string"/>
	<xs:element name="OnEventTimeout" type="xs:string"/>
	<xs:element name="OnNotificationTimeout" type="xs:string"/>
	<xs:element name="OnShutdown" type="xs:string"/>
	<xs:element name="ReceiveNotification" type="xs:string"/>
	<xs:element name="Rethrow" type="xs:string"/>
	<xs:element name="Sleep" type="xs:string"/>
	<xs:element name="Wait" type="xs:string"/>
	<xs:element name="WriteToLog" type="xs:string"/>
	<xs:element name="FilePoller" type="xs:string"/>
	<xs:element name="ListFiles" type="xs:string"/>
	<xs:element name="RenameFile" type="xs:string"/>
	<xs:element name="WaitforFileChange" type="xs:string"/>
	<xs:element name="HTTPReceiver" type="xs:string"/>
	<xs:element name="SendHTTPRequest" type="xs:string"/>
	<xs:element name="WaitForHTTPRequest" type="xs:string"/>
	<xs:element name="JavaCustomFunction" type="xs:string"/>
	<xs:element name="JavaGlobalInstance" type="xs:string"/>
	<xs:element name="JavaSchema" type="xs:string"/>
	<xs:element name="JavaCode" type="xs:string"/>
	<xs:element name="JavaEventSource" type="xs:string"/>
	<xs:element name="JavaMethod" type="xs:string"/>
	<xs:element name="JavaToXML" type="xs:string"/>
	<xs:element name="XMLToJava" type="xs:string"/>
	<xs:element name="JDBCConnection" type="xs:string"/>
	<xs:element name="JDBCCallProcedure" type="xs:string"/>
	<xs:element name="SQLDirect" type="xs:string"/>
	<xs:element name="JMSApplicationProperties" type="xs:string"/>
	<xs:element name="JMSConnection" type="xs:string"/>
	<xs:element name="GetJMSQueueMessage" type="xs:string"/>
	<xs:element name="JMSQueueReceiver" type="xs:string"/>
	<xs:element name="JMSQueueRequester" type="xs:string"/>
	<xs:element name="JMSTopicRequestor" type="xs:string"/>
	<xs:element name="JMSTopicSubscriber" type="xs:string"/>
	<xs:element name="ReplytoJMSMessage" type="xs:string"/>
	<xs:element name="WaitforJMSQueueMessage" type="xs:string"/>
	<xs:element name="WaitforJMSTopicMessage" type="xs:string"/>
	<xs:element name="DataFormat" type="xs:string"/>
	<xs:element name="ParseData" type="xs:string"/>
	<xs:element name="RenderData" type="xs:string"/>
	<xs:element name="SecurityPolicyAssociation" type="xs:string"/>
	<xs:element name="SecurityPolicy" type="xs:string"/>
	<xs:element name="InvokeRESTAPI" type="xs:string"/>
	<xs:element name="RESTDispatchandReply" type="xs:string"/>
	<xs:element name="XSLTFile" type="xs:string"/>
	<xs:element name="TransformXML" type="xs:string"/>
	<xs:element name="SOAPEventSource" type="xs:string"/>
	<xs:element name="SOAPRequestReply" type="xs:string"/>
	<xs:element name="SOAPSendReply" type="xs:string"/>
	<xs:element name="Renders" type="xs:string"/>
</xs:schema>