reference/mule_projects/raksmule/src/main/resources/wsdl/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://raks.com/orderservice"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://raks.com/orderservice"
             name="OrderService">

    <types>
        <xsd:schema targetNamespace="http://raks.com/orderservice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://raks.com/orderservice"
                    elementFormDefault="qualified">
            
            <!-- CreateOrder Request -->
            <xsd:element name="CreateOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="customerEmail" type="xsd:string"/>
                        <xsd:element name="orderDate" type="xsd:date"/>
                        <xsd:element name="productName" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                        <xsd:element name="totalAmount" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- CreateOrder Response -->
            <xsd:element name="CreateOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderNumber" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- GetOrder Request -->
            <xsd:element name="GetOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- GetOrder Response -->
            <xsd:element name="GetOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderNumber" type="xsd:string"/>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="customerEmail" type="xsd:string"/>
                        <xsd:element name="orderDate" type="xsd:date"/>
                        <xsd:element name="productName" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                        <xsd:element name="totalAmount" type="xsd:decimal"/>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="CreateOrderRequestMessage">
        <part name="parameters" element="tns:CreateOrderRequest"/>
    </message>
    <message name="CreateOrderResponseMessage">
        <part name="parameters" element="tns:CreateOrderResponse"/>
    </message>
    <message name="GetOrderRequestMessage">
        <part name="parameters" element="tns:GetOrderRequest"/>
    </message>
    <message name="GetOrderResponseMessage">
        <part name="parameters" element="tns:GetOrderResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="OrderServicePortType">
        <operation name="CreateOrder">
            <input message="tns:CreateOrderRequestMessage"/>
            <output message="tns:CreateOrderResponseMessage"/>
        </operation>
        <operation name="GetOrder">
            <input message="tns:GetOrderRequestMessage"/>
            <output message="tns:GetOrderResponseMessage"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="OrderServiceBinding" type="tns:OrderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateOrder">
            <soap:operation soapAction="http://raks.com/orderservice/CreateOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetOrder">
            <soap:operation soapAction="http://raks.com/orderservice/GetOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="OrderService">
        <port name="OrderServicePort" binding="tns:OrderServiceBinding">
            <soap:address location="http://localhost:8082/soap/orderservice"/>
        </port>
    </service>

</definitions>
