reference/tibco_projects/Tibco2MuleAcceleratorv2/Resources/Schema/Mule/Http/mule-http.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:http="http://www.mulesoft.org/schema/mule/http"
	 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	 targetNamespace="http://www.mulesoft.org/schema/mule/http"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!--	<xs:import namespace="http://www.mulesoft.org/schema/mule/documentation" schemaLocation="./doc.xsd"/>-->
	<xs:element name="listener-config">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="host" type="xs:string"/>
			<xs:attribute name="port" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="path" type="xs:string"/>
			<xs:attribute name="config-ref" type="xs:string"/>
			<xs:attribute name="posX" type="xs:int"/>
			<xs:attribute name="posY" type="xs:int"/>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>